{% extends 'base.html' %}

{% block bodyblock %}
<div class="container">
    <br><br>
    <h3 class="display-8 text-center mt-5">
        Face Recognition Application
    </h3>
    <br>
    <p>
        Gender Classification:
This application is powered by data and a machine learning model.
 When a user uploads an image, the backend automatically processes it by converting it to grayscale,
  detecting and cropping the face, and transforming it into the required format.
   The processed image is then passed to the model for gender prediction.
    All these functionalities are integrated within a Flask web application.
    </p>
    <img src="/static/images/002.PNG" alt="photo for referencce" class="img-fluid mt-3" width="900" >
    <a  class="btn btn-outline-primary" href="/app/gender/">Gender App</a>

</div>
   
{% endblock %}