<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:aqua">
    <div class="container d-flex align-items-center">
      <div class="logo-div">
        <a class="navbar-brand" href="/">
          <img  class="image-fluid" src="{{ url_for('static', filename='images/icon.png') }}" alt="brand logo" width="75" height="" class="d-inline-block align-text-top">
        </a>
      </div>
      <div class="brand-text-div ms-3">
        <span class="navbar-brand-text">Face Recognition</span>
      </div>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a  class="nav-item nav-link" href="/">Home</a>
          <a  class="nav-item nav-link" href="/app">App</a>
        </div>
      </div>
    </div>
  </nav>
  {% block bodyblock %}
  {% endblock %}
  </body>
  </html>