{% extends "base.html" %}

{% block bodyblock %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br><br>
            <h3 class="display-6 text-center mt-5 mb-4">Gender Classification</h3>
            <p class="text-center">Upload an image to see our AI's prediction on the gender of the faces detected.</p>

            <form method="POST" enctype="multipart/form-data" class="mt-4">
                <label for="imageUpload" class="file-upload-label">Choose Image</label>
 <div class="input-group mb-3">
 <input type="file" class="form-control" id="imageUpload" name="image_name" required>
 <button type="submit" class="btn btn-primary gender-predict-button">Upload and Predict</button>
 </div>

            </form>
    </div>
    </div>

    {% if fileupload and report %}
        <div class="row mt-5">
        <div class="col-12">
            <br><br>
            <h4 class="display-8 mb-4 text-center">Prediction Results</h4>
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h5 class="mb-3">Predicted Image with Detections</h5>
                    <img src="{{ url_for('static', filename='predict/prediction_image.jpg') }}" class="img-fluid rounded shadow" alt="Predicted Image">
                </div>
            </div>
            <hr>
            <br>
            <h5 class="mb-3 text-center">Detailed Analysis of Detected Faces</h5>
            <div class="table-responsive">
            <table class="table table-hover table-striped align-middle">
                <thead>
                    <tr>
                        <th>Detected Face</th>
                        <th>Eigen Image</th>
                        <th>Prediction Gender</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% if report | length == 0 %}
                    <tr>
                        <td colspan="4" class="text-center">No faces detected in the uploaded image.</td>
                    </tr>
                    {% endif %}
                    {% for element in report %}
                    <tr>
                        <td><img src="{{ url_for('static', filename='predict/' ~ element[0]) }}" class="img-fluid" height="100" alt=""></td>
                        <td><img src="{{ url_for('static', filename='predict/' ~ element[1]) }}" class="img-fluid" height="100" alt=""></td>
                        <td>{{ element[2] }}</td>
                        <td>{{ element[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}